.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: inline-block;
  width: 30%;
  border-radius: 0px;
  object-fit: contain;
  margin: 0px;
  padding: 1px;
  object-fit: cover;
  background-size: contain;
  max-height: fit-content;
  justify-content: center;
}

.leftArrow {
  position: relative;
  left: 32px;
  top: 50%;
  color: #000;
  width: 80px;
  height: 80px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.rightArrow {
  position: relative;
  right: 32px;
  top: 50%;
  color: #000;
  width: 80px;
  height: 80px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.carousel {
  z-index: 0;
  position: relative;
  height: auto;
  min-height: 100% !important;
}

.fill {
  display: flexbox;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #000;
}

.carousel img {
  flex-shrink: 50%;
  /* min-width: 40%; */
  min-height: 100%;
}
